{
    "tagFormat": "${version}",
    "branches": ["main", "next"],
    "plugins": [
      "@semantic-release/changelog",
      [
        "@semantic-release/git",
        {
          "assets": ["CHANGELOG.md"],
          "message": "chore(release): set `package.json` to ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
        }
      ]
    ]
}